<ion-content>
	<div flex-header>
	  	<a href="javascript:void(0)"><img src="../assets/images/logo.png" alt=""></a>
	  	<p routerLink="/dashboard">Return to Content Calendar <ion-icon name="close-outline"></ion-icon></p>
	</div>
	<div mainContent>
		<ion-row>
			<ion-col size="12" size-md="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->			
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="fvs-ft">
						<div centerArea>
							<div insideCenter>							
								<ion-row>
									<ion-col size="12" size-md="10" offset-md="1">
										<div threeCols>
											<div largeCol>
												<div processBar class="ion-hide-md-up">
													<span></span>
													<span></span>
													<span></span>
													<span></span>
													<span></span>
													<span></span>
													<div processFill></div>
												</div>											
												<div quoteRow>
													<img imgcart src="../assets/images/account.png" alt="">
													<div quoteBox>
														<div quoteBoxs>
															<p><b>That's all for today!</b></p>
															<p>Lorem ipsum dolor sit amet, sint bonorum mea ea. Quando commune cu pro. Est atqui elaboraret ei, ea integre dolorem has. At nec nemore gloriatur quaerendum, primis complectitur eum et. Partem altera nusquam eum ut</p>
														</div>													
												<div botmbtns>
													<ion-button routerLink="/dashboard" btn-outline fill="outline">Return to Dashboard</ion-button>
													<ion-button fill="solid">Continue Tasks</ion-button>
												</div>
													</div>
												</div>									 
											

											</div>
										</div>
									</ion-col>
								</ion-row>
							</div>
						</div>
					</div>
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
	<div botmbg></div>
</ion-content>
