<ion-content>
	<div flex-header>
	  	<a href="javascript:void(0)"><img src="../assets/images/logo.png" alt=""></a>
	  	<p (click)="presentModal()">Return to Content Calendar <ion-icon name="close-outline"></ion-icon></p>
	</div>
	<div mainContent>
		<ion-row>
			<ion-col size="12" size-md="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->			
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="fvs-ft">
						<div centerArea>
						<div insideCenter>
							<h2 hdng>Create Cross Promotional Tweet(s)
								<ul>
									<li><span>1</span></li>
									<li></li>
									<li><span>2</span></li>
								</ul>
							</h2>
							<div threeCols>
								<div smallCol>
									<!--- mobile menu link start --->
										<ion-item menuheader lines="none"  class="ion-hide-md-up">
											<ion-label>
											  <span>1</span>Video and Time
											</ion-label>
											<a slot="end" href="javascript:void(0)" (click)="hide()" menu-btn><ion-icon name="menu"></ion-icon></a>
										</ion-item>										
										<div menu-mob-link *ngIf="hideMe"  class="ion-hide-md-up">
										    <ion-buttons menuclose-btn  (click)="hide()"><ion-icon name="close"></ion-icon></ion-buttons>
											<ul>
												<li><a class="active" href="javascript:void(0)"><span>1</span>Video and Time</a></li>
												<li><a routerLink="/cross-promotion-write" href="javascript:void(0)"><span>2</span>Write</a></li>
												<li><a routerLink="/confirm" href="javascript:void(0)"><span>3</span>Confirm</a></li>
											</ul>
										</div>
										<!--- mobile menu link end --->
										<!--- mobile quotes start --->
											<div mobilequotes  class="ion-hide-md-up">
												<img imgcart src="assets/images/account.png" alt="">
												<div quoteBox>
													<div quoteBoxs>
														<a href="javascript:void(0)" (click)="hide1()"><b>View Instructions</b> <ion-icon name="chevron-down"></ion-icon></a>
														<p *ngIf="hideMe1">Lorem ipsum dolor sit amet, an eam dico rum. Choro volutpat eam et. Ex sea vidit solum definiebas. Usu ei tale graeci interesset,</p>
													</div>													
												</div>
											</div>									 																		
										<!--- mobile quotes end --->
									<ul class="ion-hide-md-down">
										<li><a class="active" href="javascript:void(0)"><span>1</span>Video and Time</a></li>
										<li><a routerLink="/cross-promotion-write" href="javascript:void(0)"><span>2</span>Write</a></li>
										<li><a routerLink="/confirm" href="javascript:void(0)"><span>3</span>Confirm</a></li>
									</ul>
								</div>
								<div largeCol>
									<h4>Choose a Video you want to create a tweet for</h4>
									<ion-searchbar placeholder="Search with video title"></ion-searchbar>

									<div carousal>
										<ion-slides scrollbar [options]="slideOpts">
											<ion-slide>
												<div slideCol>
													<img src="../assets/images/cartoon1.jpg" alt="">
													<p>Lorem ipsum is simply text</p>
													<small>Dec 4, Fri, 8:00 PM ET</small>
												</div>
											</ion-slide>
											<ion-slide>
												<div slideCol>
													<img src="../assets/images/img1.jpg" alt="">
													<p>Lorem ipsum is simply text</p>
													<small>Dec 4, Fri, 8:00 PM ET</small>
												</div>
											</ion-slide>
											<ion-slide>
												<div slideCol>
													<img src="../assets/images/cartoon1.jpg" alt="">
													<p>Lorem ipsum is simply text</p>
													<small>Dec 4, Fri, 8:00 PM ET</small>
												</div>
											</ion-slide>
											<ion-slide>
												<div slideCol>
													<img src="../assets/images/img1.jpg" alt="">
													<p>Lorem ipsum is simply text</p>
													<small>Dec 4, Fri, 8:00 PM ET</small>
												</div>
											</ion-slide>
										</ion-slides>
									</div>




									<div chooseDate>
										<h5>When do you want to tweet about this video?</h5>
										<p><ion-icon name="star"></ion-icon> means best day/time to post your video</p>
										<ul>
											<li>
												<input type="radio" id="date1" name="date">
												<label for="date1">1 Hour Before</label>
											</li>
											<li>
												<input type="radio" id="date2" name="date">
												<label for="date2">2 Hours Before</label>
											</li>
											<li>
												<input type="radio" id="date3" name="date">
												<label for="date3"><ion-icon name="star"></ion-icon> 3 Hours Before</label>
											</li>
											<li>
												<input type="radio" id="date7" name="date">
												<label for="date7"><ion-icon name="star"></ion-icon> 1 Day Before</label>
											</li>
											<li>
												<input type="radio" id="date4" name="date">
												<label for="date4"><ion-icon star name="star"></ion-icon> 2 Day Before</label>
											</li>
											<li>
												<input type="radio" id="date8" name="date">
												<label for="date8">3 Day Before</label>
											</li>
										</ul>
										<div customField>
											<div toggle><ion-toggle checked></ion-toggle> <p>Custom</p></div>
											<div inputFields>
												<div mob-width-50>
													<ion-label>Date</ion-label>
													<ion-select placeholder="Select" value="f">
													  <ion-select-option value="f">1</ion-select-option>
													  <ion-select-option value="m">2</ion-select-option>
													</ion-select>
												</div>
												<div mob-width-50>
													<ion-label>Month</ion-label>
													<ion-select placeholder="Select" value="week">
													  <ion-select-option value="week">Week</ion-select-option>
													  <ion-select-option value="month">Month</ion-select-option>
													</ion-select>
												</div>
												<p>Before posting the video.</p>
											</div>
										</div>
									</div>

									<div botmbtns>
										<ion-button btn-outline fill="outline">Save as draft</ion-button>
										<ion-button routerLink="/cross-promotion-write" fill="solid">Next</ion-button>
									</div>
								</div>
								<div smallCol class="ion-hide-md-down">
									<div centerRit>
										<img src="../assets/images/icon.png" alt="">
										<div quotes>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add-vf">
					<a href="javascript:void(0)">
						<img src="assets/images/ad4.jpg">
					</a>
				</div>
			</div>
			</ion-col>
		</ion-row>
	</div>
	<div botmbg></div>
</ion-content>
