
[flex-header]{
	display: flex;
	align-items: center;
	padding:15px 50px;
	clear: both;
	a{
		img{
			object-fit: cover;
			width: 140px;
		}
	}
	p{
		margin:0 0 0 auto;
		color: #222;
		font-size: 14px;
		display: flex;
		align-items: center;
		ion-icon{
			font-size:40px;
			margin-left: 0px;
		}
	}
}

ion-content{
	--background:#f9f9f9;
	[botmbg]{
		background: url(../../assets/images/banner.png) center bottom no-repeat;
		background-size: 100%;
		height: 200px;
		position: fixed;
		left: 0;
		right: 17px;
		z-index: 0;
		bottom: 0;
		transform: rotate(180deg);
	}
	[mainContent]{
		position: relative;
		z-index: 1;
		padding:10px 30px 20px;
		ion-row{
			padding:0;
			margin:0;
			ion-col{
				margin:0;
				padding:0;
				[leftads]{
					background: #fff;
					text-align: center;
					[fstads]{
						width: 100%;
						height: 310px;
						object-fit: cover;
					}
					h3{
						font-weight: 400;
						font-size: 24px;
						color: #111;
						padding:0 20px;
						margin:15px 0 0;
					}
					p{
						font-weight: 400;
						font-size: 15px;
						color: #111;
						line-height: 150%;
						padding:0 20px;
						margin:10px 0 0;
					}
					[paypal]{
						max-width: 100px;
						margin: 20px 0;
					}
				}
			}
		}
	}
	[centerArea]{
		padding:0 15px;
		[insideCenter]{
			background:#fff; 
			border-radius: 10px;
			[hdng]{
				display: flex;
				align-items: center;
				padding:12px 20px;
				margin:0;
				border-bottom: 2px solid #f6f6f6;
				font-weight: 700;
				font-size: 21px;
				ul{
					margin: 0 0 0 auto;
					padding:0;
					list-style: none;
					display: flex;
					align-items: center;
					li{
						display: flex;
						align-items: center;
						span{
							width: 30px;
							height:30px;
							border-radius: 50px;
							background:#c2facf;
							display: flex; 
							align-items: center;
							justify-content: center;
							color: #111;
							font-size: 13px;
							font-weight: 400;
						}
						&:nth-child(2){
							&:before{
								content:"";
								width:20px;
								height: 1px;
								display: inline-block;
								background: #eee;
							}
						}
						&:nth-child(3){
							span{
								background: #bfe4fa; 
							}
						}
					}
				}
			}
			[threeCols]{
				display: flex;
				[smallCol]{
					width: 20%;
					ul{
						list-style: none;
						padding:10px;
						margin:0;
						li{
							a{
								display: flex;
								align-items: center;
								color: #222;
								font-size: 14px;
								padding:10px;
								border-radius: 5px;
								margin-bottom:10px;
								text-decoration: none;
								span{
									width: 20px;
									height: 20px;
									margin-right: 7px;
									background:#bbb;
									color: #222;
									font-size: 13px;
									border-radius: 50px;
									display: flex;
									align-items: center;
									justify-content: center; 
								}
								&.active, &:hover{
									background: #f5f5f5;
									span{
										background: -webkit-linear-gradient(left, #c2e8fa, #b2d6fa);
									} 
								}
							}
						}
					}
					[centerRit]{
						padding:15px;
						float: left;
						img{
							float: right;
							max-width: 50px;
						}
						[quotes]{
							padding: 10px;
							position: relative;
							border-radius: 10px;
							clear: both;
							margin:80px 0 0;
							background: #def1ff; 
							p{
								color: #111;
								line-height: 160%;
								font-size: 14px;
								margin:0;
							}
							&:after{
								content:"";
								width: 0; 
								height: 0; 
								border-left: 20px solid transparent;
								border-right: 20px solid transparent;
								border-bottom: 20px solid #def1ff;
								position: absolute;
								top: -10px;
								right: 10px;
							}
						}
					}
				}
				[largeCol]{
					width: 60%;
					border-left: 2px solid #f6f6f6;
					border-right: 2px solid #f6f6f6;
					padding:15px;
					h4{
						font-size: 16px;
						font-weight: 600;
						display: block;
						margin:0 0 5px;
						& + p{
							color: #999;
							font-size: 14px;
							margin:0;
							display: flex;
							align-items: center;
							ion-icon{
								margin-right: 5px;
								color: orange;
							}
						}
					}
					h5{
						& + p{
							color: #999;
							font-size: 14px;
							margin:0 0 15px;
							display: flex;
							align-items: center;
							ion-icon{
								margin-right: 5px;
								color: #FEDC7E;
							}
						}
					}
					[postnowlater]{
						margin:10px 0 0;
						ion-radio-group{
							display: flex;
							ion-item{
								align-items: flex-start;
								--padding-start:0;
							}
							ion-radio{
								margin-right: 10px;
								margin-top: 14px;
							}
							ion-label{
								white-space: normal;
								p{
									font-size: 12px;
									line-height: 150%;
								}
							}
						}
					}
					[chooseDate]{
						margin:15px 0 0;
						clear: both;
						width: 100%;
						float: left;
						h5{
							font-weight: 600;
							font-size: 15px;
							margin:0 0 5px;
						}
						ul{
							list-style: none;
							padding:0;
							margin:0;
							li{
								input{
									display: none;
									& + label{
										border:1px solid #eee;
										border-radius: 5px;
										color: #666;
										display: inline-block;
										float: left;
										cursor: pointer;
										padding:5px 10px;
										margin:0 10px 10px 0;
										font-size: 13px;
										ion-icon{
											color:#FEDC7E;
											margin:0 5px 0 0;
											&[star]{
												color: #FEDC7E;
											}
										}
									}
									&:checked{
										& + label{
											background: -webkit-linear-gradient(left, #c2e8fa, #b2d6fa);
											color: #111;
											ion-icon {
												color:#FEDC7E;
											}
										}
									}
								}
							}
						}
					}
					[chooseTime]{
						[timeClock]{
							display: flex;
							align-items: center;
							[hour]{
								display: flex;
								align-items: center;
								justify-content: center;
								flex-direction: column;
								border:1px solid #eee;
								padding:10px;
								border-radius: 5px;
								width: 150px;
								height: 120px;
								ion-input{
									text-align: center;
									font-weight: 600;
									font-size: 18px;
								}
							}
							[dash]{
								margin:0 8px;
							}
							[ampm]{
								width: 70px;
								margin-left: 10px;
								ul{
									list-style: none;
									padding:0;
									margin:0;
									display: flex;
									align-items: center;
									justify-content: center;
									flex-direction: column;
									li{
										input{
											display: none;
											& + label{
												font-size: 20px;
												color: #999;
												background:none;
												border:0;
												margin:0;
												padding:0; 
												font-weight: 600;
											}
											&:checked{
												& + label{
													color: #000;
													background:none; 
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	[botmbtns]{
		margin:25px 0 0;
		display: flex;
		clear: both;
		float: left;
		width: 100%;
		justify-content: flex-end;
		ion-button{
			text-transform: none;
			--box-shadow: none;
			--border-radius: 8px;
		}
	}
}
[customField]{
	margin:15px 0 0;
	clear: both;
	[toggle]{
		display: flex;
		align-items: center;
		p{
			color: #111;
			font-size: 13px;
			margin:0;
		}
	}
	[inputFields]{
		display: flex;
		align-items: center;
		div{
			/*--padding-start:0;
			--padding-end:0;
			width: 150px;*/
			margin-right: 7px;
			ion-label{
				display: none;
			}
			ion-select{
				border:1px solid #eee;
				height: 35px;
				border-radius: 5px;
				min-width:110px;
				font-size: 13px;
			}
		}
		p{
			margin:0;
			font-size: 13px;
		}
	}
}
ion-searchbar{
	--box-shadow: 1px 2px 5px rgba(0,0,0, .05);
	font-size: 14px;
	padding:0;
}
[carousal]{
	margin:15px 0 0;
	ion-slides{
		padding:0;
		margin:0;
		ion-slide{
			margin-bottom: 10px;
			max-width: 180px;
			margin-right: 10px;
			[slideCol]{
				padding:7px;
				border-radius:8px;
				border:1px solid #eee;
				width: 100%;
				img{
					border-radius: 7px;
					height: 100px;
					width: 100%;
					object-fit: cover;
				}
				p{
					margin:5px 0 0px;
					color: #111;
					font-size: 14px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 95%;
				}
				small{
					font-size: 12px;
					color: #777;
					margin:0;
					display: block;
					text-align: left;
				}
			}
			[active-slide] {
				position: relative;
				border: 1px solid #5ED479;
				&:before {
					background: #5ED479 0% 0% no-repeat padding-box;
					border: 1px solid #E8E8E8;
					content: "";
					position: absolute;
					width: 12px;
					height: 12px;
					top: 19px;
					right: 19px;
					z-index: 1;
					border-radius: 50%;
				}
				&:after {
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					background: #fff;
					border: 1px solid #29E956;
					top: 15px;
					right: 15px;
					border-radius: 50%;
				}
			}
		}
	}
}
ion-toggle {
  --background: #eee;
  --background-checked: #c2facf;

  --handle-background: #aaa;
  --handle-background-checked: #5ed479;
}
[btn-blue]{
	margin:15px 10px;
}
.cont-fls {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.add-vf {
		a {
				display: block;
			img {
				width: 100%;
				min-width: 160px;
				object-fit: cover;
			}
		}
	}
}
.fvs-ft {
    width: 100%;
    max-width: calc(100% - 320px);
}

@media only screen and (max-width:992px) and (min-width:768px) {  
	ion-content 
	{
	    [flex-header]
		{
            padding: 15px 15px;		
		}
		[mainContent]
		{
		    padding: 10px 5px 20px;
			.cont-fls
			{
                .add-vf				
				{
				    display: none;
				}
				.fvs-ft
				{
					width: 100%;
					max-width: 100%;
				}
				[centerArea]
				{
					padding: 0 10px;
				}				
			}			
		}	
	}
}
@media (max-width: 767px) {
	ion-content
	{
		[flex-header]
		{
			padding: 15px 8px;
			p 
			{
				font-size: 12px;
				ion-icon 
				{
					font-size: 32px;
				}				
			}			
		}	
		[maincontent]
		{
		    padding: 10px 5px 20px;
			[mob-ads-sec] 
			{
				padding: 0px 10px 15px;
				text-align: center;
				img 
				{
					max-width: 100%;
				}				
			}			
			.cont-fls
			{
				.add-vf
				{
					display:none;
				}
				.fvs-ft
				{
					width: 100%;
					max-width: 100%;			
					[centerarea]
					{
						[insidecenter]
						{
						    [hdng]
							{
							    display:none;
							}
							[threecols]
							{
								display: block;    
								[largecol]
								{
									width: 100%;
									border-left: none;									
									border-right: none;
                                    display: inline-block;
									[choosedate]
									{
										[customfield]
										{
											[inputfields]
											{
												display: block;
												[mob-width-50]
												{
													width: 40%;
													display: inline-block;			
												}
											}
										}
									}									
								}
								[smallcol]
								{
									width: 100%;
									padding: 15px 15px 0px;
									[menuheader]
									{
										--background: #F5F5F5;
										--border-radius:10px;
										--padding-start: 10px;
										--inner-padding-end: 10px;
										--padding-bottom: 10px;
										--padding-top: 10px;
                                        --min-height: 30px;										
										ion-label
										{
											display: flex;
											align-items: center;
											color: #222;
											font-size: 14px;
											text-decoration: none;
											margin: 0px;
											span
											{
												width: 20px;
												height: 20px;
												margin-right: 7px;
												background: -webkit-linear-gradient(left, #c2e8fa, #b2d6fa);
												color: #222;
												font-size: 13px;
												border-radius: 50px;
												display: flex;
												align-items: center;
												justify-content: center;
											}											
										}
										[menu-btn]
										{
										    text-decoration: none;
											border: 1px solid #e8e8e8;
											border-radius: 6px;
											display: inline-flex;
											padding: 7px 12px;
                                            margin-right: 0px;											
										}
									}
                                    [menu-mob-link]
                                    {
									    position: fixed;
										top: 0px;
										background: #fff;
										width: 100%;
										left: 0px;
										bottom: 0px;
										right: 0px;
										padding: 15px 10px;
										overflow-y: auto;									
										z-index: 111;
                                        [menuclose-btn]
                                        {
											font-size: 18px;
											display: inline-block;
											position: absolute;
											right: 5px;
											top: 5px;
											z-index: 1;
										}
                                    }
                                    [mobilequotes]
                                    {
										display: flex;
										align-items: flex-start;
										margin:20px 0 0;
										[imgcart]{
											width: 40px;
											object-fit: contain;
										}
										[quoteBox]
										{
											margin-left: auto;
											max-width: calc(100% - 55px);
											width: 90%;
											[quoteBoxs]
											{
												padding: 15px 10px;
												position: relative;
												background: #def1ff;
												border-radius: 10px;
												a
												{
													margin:0;
													font-size: 14px;
													color: #333;
													text-decoration: none;
													display: flex;
													align-items: center;
													justify-content: space-between;													
													ion-icon
													{
														min-width: 16px;
													}													
													b
													{
														font-weight: 600;
													}
												}
												p{
													margin:10px 0px 0px 0px;
													font-size: 14px;
													color: #333;
												}
												&:before{
													width: 0; 
													height: 0; 
													border-top: 10px solid transparent;
													border-bottom: 10px solid transparent;   
													border-right:10px solid #def1ff;
													content: "";
													position: absolute;
													left:-10px;
													top: 15px;
												}
											}					
										}									
									}									
								}
							}
						}
					}
				}
			}	
		}	
	}
}