<ion-content>
	<div flex-header>
	  	<a href="javascript:void(0)"><img src="../assets/images/logo.png" alt=""></a>
	  	<p>Return to Content Calendar <ion-icon name="close-outline"></ion-icon></p>
	</div>
	<div mainContent>
		<ion-row>
			<ion-col size="12" size-md="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->				
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="fvs-ft">
						<div centerArea>
							<div insideCenter>
								<h2 hdng>Create Cross Promotional Promo on YouTube
								<ul>
									<li class="doneactive"><span>1</span></li>
									<li class="active"><span>2</span></li>
								</ul>								
								</h2>
								<ion-row>
									<ion-col size="12" size-md="10" offset-md="1">
										<div threeCols>
											<div largeCol>
												<div quoteRow>
													<img imgcart src="../assets/images/account.png" alt="">
													<div quoteBox>
														<div quoteBoxs>
															<p><b>Your tweet has been published! Great work John</b></p>
															<p>Lorem ipsum dolor sit amet, an eam dico bonorum. Choro volutpat eam et. Ex sea vidit solum definiebas. Usu ei tale graeci interesset,</p>
														</div>													
												<div botmbtns>
													<ion-button fill="solid">Create Another Tweet</ion-button>										
												</div>
													</div>
												</div>									 
											

											</div>
										</div>
									</ion-col>
								</ion-row>
							</div>
						</div>
					</div>
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
	<div botmbg></div>
</ion-content>
