<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="dataa-main-all">
		<div class="top-hrd-n">
			<a href="javascript:void(0)"> <img src="assets/images/logo.png"> </a>
			<a (click)="presentModal()" href="javascript:void(0)" class="clos"> Return to Content Calendar <ion-icon name="close-outline"></ion-icon> </a>
		</div>
		<ion-row>
			<ion-col size="12">
				<div class="top-ad  big-none">
					<img src="assets/images/mob-ads.jpg">
				</div>
				<div class="cont-fls">
					<div class="add-vf small-none">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="cent-sect">
						<h4 class="hedr-msh"> Create A Tweet </h4>
						<div class="bottom-coy">
							<div class="box-cnt">
								<div class="cont-box">
									<h5> Good Evening John! </h5> 
									<p> I'm here to assist you to create an engaging and Lorem video. </p>
									<p> Let's start with the generation of idea, Title, description, meta-data and tags for your new video. </p>
									<a routerLink="/createatweet-schedule" href="javascript:void(0)" class="strt-btn"> Start </a>
									<ion-item lines="none" class="ns-ltv">
										<ion-label>Don't show again. </ion-label>
										<ion-checkbox color="success"  slot="start"></ion-checkbox>
									</ion-item>
								</div>
								<img src="assets/images/account.png" class="img-ttols">
							</div>
						</div>
					</div>
					<div class="add-vf small-none">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
