<ion-content>
	<div flex-header>
	  	<a href="javascript:void(0)"><img src="../assets/images/logo.png" alt=""></a>
	  	<p>Return to Content Calendar <ion-icon name="close-outline"></ion-icon></p>
	</div>
	<div mainContent>
		<ion-row>
			<ion-col size="12" size-md="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->			
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="fvs-ft">
						<div centerArea>
						<div insideCenter>
								<div process-quote>
									<div processBar>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<div processFill></div>
									</div>
									<!--- mobile quotes start --->
										<div mobilequotes  class="ion-hide-md-up">
											<img imgcart src="assets/images/account.png" alt="">
											<div quoteBox>
												<div quoteBoxs>
													<a href="javascript:void(0)" (click)="hide()"><b>View Instructions</b> <ion-icon name="chevron-down"></ion-icon></a>
													<p *ngIf="hideMe">Schedule your next 4 Tweets on <b>@Pencilmation. </b></p>
													<p *ngIf="hideMe">Lorem ipsum dolor sit amet, te ius viderer fabellas, et nam tantas mollis phaedrum. An doctus dolorum nonumes velat nec hom ero commodo consetetur. Nonumes inciderint qui an, adhuc iudicabit an duo</p>
												</div>													
											</div>
										</div>									 																		
									<!--- mobile quotes end --->									
									<div quoteRow class="ion-hide-md-down">
										<img src="../assets/images/account.png" alt="">
										<div quoteBox>
											<p>Schedule your next 4 Tweets on <b>@Pencilmation. </b></p>
											<p>Lorem ipsum dolor sit amet, te ius viderer fabellas, et nam tantas mollis phaedrum. An doctus dolorum nonumes velat nec hom ero commodo consetetur. Nonumes inciderint qui an, adhuc iudicabit an duo</p>
										</div>
									</div>						
								</div>						
							<h2 hdng>Create A Tweet
								<ul>
									<li class="doneactive"><span>1</span></li>
									<li class="active"><span>2</span></li>
									<li><span>3</span></li>
									<li><span>4</span></li>
								</ul>
							</h2>
							<div threeCols>
								<div smallCol class="ion-hide-md-down">
									<ul>
										<li><a class="active" href="javascript:void(0)"><span>1</span>Schedule</a></li>
										<li><a routerLink="/idea-generate-tweet" href="javascript:void(0)"><span>2</span>Idea Generator</a></li>
										<li><a routerLink="/create-a-tweet-write" href="javascript:void(0)"><span>3</span>Write</a></li>
										<li><a routerLink="/create-atweet-confirm" href="javascript:void(0)"><span>4</span>Confirm</a></li>
									</ul>
								</div>
								<div largeCol>

									<div chooseDate>
										<h5>When do you want your tweet to go live?</h5>
										<p><ion-icon name="star"></ion-icon> means best day/time to post your tweet</p>
										<ion-row>
										    <ion-col size="12" size-md="6">
											    <div postsec>
													<label class="radiosec"><h4>Post now</h4>
													<p>You tweet will be posted as soon as you complete creating it.</p>
													  <input type="radio" name="radio">
													  <span class="checkmark"></span>
													</label>												
												</div>
											</ion-col>
										    <ion-col size="12" size-md="6">
											    <div postsec>
													<label class="radiosec"><h4>Post later</h4>
													<p>Your tweet will be posted on your chosen date and time.</p>
													  <input type="radio" name="radio">
													  <span class="checkmark"></span>
													</label>												
												</div>
											</ion-col>
										</ion-row>
									</div>

									<div chooseDate>
										<h5>Choose Date</h5>
										<ul>
											<li>
												<input type="radio" id="date1" name="date">
												<label for="date1">Today, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date2" name="date">
												<label for="date2">Tomorrow, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date3" name="date">
												<label for="date3"><ion-icon star name="star"></ion-icon> Sat, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date7" name="date">
												<label for="date7"> Sun, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date4" name="date">
												<label for="date4"><ion-icon star name="star"></ion-icon> Mon, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date8" name="date">
												<label for="date8"> Tue, 12/24/2020</label>
											</li>
											<li>
												<input type="radio" id="date9" name="date">
												<label for="date9"> Wed, 12/24/2020</label>
											</li>
											<li datefield> <ion-datetime displayFormat="MM DD YYYY" placeholder="Choose custom date"></ion-datetime>
											</li>
										</ul>
									</div>
									<div choosetime>
										<h5>Choose Time</h5>
										<ul>
										    <li>
											    <ion-icon name="chevron-up-outline"></ion-icon>
											    <p>10 h</p>
												<ion-icon name="chevron-down-outline"></ion-icon>
											</li>
										    <li>
											    <ion-icon name="chevron-up-outline"></ion-icon>
											    <p>00 m</p>
												<ion-icon name="chevron-down-outline"></ion-icon>
											</li>
										    <li am-pm>
											    <h3 active>AM</h3>
											    <h3>PM</h3>
											</li>
										</ul>
									</div>

									<div botmbtns>
										<ion-button routerLink="/optimizeytpage" btn-outline fill="outline">Back</ion-button>
										<ion-button routerLink="/completed-daily-task" fill="solid">Next</ion-button>
									</div>
								</div>
								<div smallCol class="ion-hide-md-down">
									<div centerRit>
										<img src="../assets/images/icon.png" alt="">
										<div quotes>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add-vf">
					<a href="javascript:void(0)">
						<img src="assets/images/ad4.jpg">
					</a>
				</div>
			</div>
			</ion-col>
		</ion-row>
	</div>
	<div botmbg></div>
</ion-content>
