<!--ion-header>
  <ion-toolbar>
    <ion-title>createYT-video</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="dataa-main-all">
		<div class="top-hrd-n">
			<a href="javascript:void(0)"> <img src="assets/images/logo.png"> </a>
			<a routerLink="/calendar-weekly" href="javascript:void(0)" class="clos"> Return to Content Calendar <ion-icon name="close-outline"></ion-icon> </a>
		</div>
		<ion-row>
			<ion-col size="12">
				<div class="top-ad  big-none">
					<img src="assets/images/mob-ads.jpg">
				</div>
				<div class="cont-fls">
					<div class="add-vf small-none">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="cent-sect">
						<h4 class="hedr-msh"> Drafts </h4>
						<div class="bottom-coy">
							<ion-row>
								<ion-col size="12" size-md="4">
									<div class="bg-boxd">
										<h4> How to Bake a Cake - Part 4 </h4>
										<div class="bottom-part">
											<span class="imf-f">
												<img src="assets/images/user3.png">
												<small class="pls-i"> <ion-icon name="logo-youtube"></ion-icon> </small>
											</span>
											<span class="texts"> Pencilmation <small> Created on 9/12/2020 </small> </span>
											<a href="javascript:void(0)" class="tras"> <ion-icon name="trash-outline"></ion-icon> </a>
										</div>
									</div>
								</ion-col>
								<ion-col size="12" size-md="4">
									<div class="bg-boxd blue-co">
										<h4> Checkout our new video on how to bake a cake... </h4>
										<div class="bottom-part">
											<span class="imf-f">
												<img src="assets/images/user3.png">
												<small class="pls-i"> <ion-icon name="logo-twitter"></ion-icon> </small>
											</span>
											<span class="texts"> Pencilmation <small> Created on 9/12/2020 </small> </span>
											<a href="javascript:void(0)" class="tras"> <ion-icon name="trash-outline"></ion-icon> </a>
										</div>
									</div>
								</ion-col>
								<ion-col size="12" size-md="4">
									<div class="bg-boxd">
										<h4> Untitled </h4>
										<div class="bottom-part">
											<span class="imf-f">
												<img src="assets/images/user3.png">
												<small class="pls-i"> <ion-icon name="logo-youtube"></ion-icon> </small>
											</span>
											<span class="texts"> Pencilmation <small> Created on 9/12/2020 </small> </span>
											<a href="javascript:void(0)" class="tras"> <ion-icon name="trash-outline"></ion-icon> </a>
										</div>
									</div>
								</ion-col>
								<ion-col size="12" size-md="4">
									<div class="bg-boxd blue-co">
										<h4> Untitled </h4>
										<div class="bottom-part">
											<span class="imf-f">
												<img src="assets/images/user3.png">
												<small class="pls-i"> <ion-icon name="logo-youtube"></ion-icon> </small>
											</span>
											<span class="texts"> Pencilmation <small> Created on 9/12/2020 </small> </span>
											<a href="javascript:void(0)" class="tras"> <ion-icon name="trash-outline"></ion-icon> </a>
										</div>
									</div>
								</ion-col>
								<ion-col size="12" size-md="4">
									<div class="bg-boxd">
										<h4><ion-icon name="repeat-outline"></ion-icon> Untitled </h4>
										<div class="bottom-part">
											<span class="imf-f">
												<img src="assets/images/user3.png">
												<small class="pls-i"> <ion-icon name="logo-youtube"></ion-icon> </small>
											</span>
											<span class="texts"> Pencilmation <small> Created on 9/12/2020 </small> </span>
											<a href="javascript:void(0)" class="tras"> <ion-icon name="trash-outline"></ion-icon> </a>
										</div>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
					<div class="add-vf small-none">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
