<!--ion-header>
  <ion-toolbar>
    <ion-title>brandbuilder-pp-edit</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="box-cnt-bgs">
		<div class="cntr-man-bx">
			<div class="top-sh">
				<h4> Update Password </h4>
				<div class="right-dyy">
					<a href="javascript:void(0);" class="dlt-ic" (click)="dismiss()"> <ion-icon name="close-outline"></ion-icon> </a>
				</div>
			</div>
			<form [formGroup]="updateForm" (ngSubmit)="submit(updateForm.value)">
			<div class="cont-sect">
				<div class="cons-sf">
					<label> Current Password </label>
					<ion-input type="password" placeholder="Enter current password" formControlName="oldpass"></ion-input>
				</div>
				<div *ngIf="isSubmit && form.oldpass.errors" class="invalid-feedback">
					<ion-text validationText *ngIf="form.oldpass.errors.required">
					  <p>*Current Password is required!</p>
					</ion-text>
					
				</div>

				<div class="cons-sf">
					<label> New Password </label>
					<ion-input type="password" placeholder="Enter new password" formControlName="newpass"></ion-input>
				</div>

				<div *ngIf="isSubmit && form.newpass.errors" class="invalid-feedback">
					<ion-text validationText *ngIf="form.newpass.errors.required">
					  <p>*New Password is required!</p>
					</ion-text>
					<ion-text validationText *ngIf="form.newpass.errors.minlength">
					  <p>*New Password must be at least 8 characters!</p>
					</ion-text>
					<ion-text validationText *ngIf="form.newpass.errors.pattern">
						<p>*New Password must contain at least one number , Capital letter & Small letter!</p>
					</ion-text>
				</div>
			</div>
			<div class="btn-dics">
				<a href="javascript:void(0);" class="canc-btn" (click)="dismiss()">Cancel  </a>
				<button ion-button href="javascript:void(0);" class="save-btn" type="submit" >Update </button>
			</div>
		</form>
		</div>
	</div>
</ion-content>
