<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="dataa-main-all">
		<div class="top-hrd-n">
			<a href="javascript:void(0)"> <img src="assets/images/logo.png"> </a>
			<a routerLink="/dashboard" href="javascript:void(0)" class="clos"> Return to Dashboard <ion-icon name="close-outline"></ion-icon> </a>
		</div>
		<ion-row>
			<ion-col size="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->			
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="cent-sect">
						<h4 class="hedr-msh"> Add Goals </h4>
						<div class="bottom-coy">
							<div class="cont-sr">
								<ion-row>
									<ion-col size="12" size-md="12" size-lg="6">
										<div class="con-tou">
											<form [formGroup]="youtubeForm" (ngSubmit)="addYoutubeGoal(youtubeForm.value)">
											<span class="nam"> <ion-icon name="logo-youtube"></ion-icon> YouTube Channel(s) Goals </span>
											<div class="btn-dt">
												<a href="javascript:void(0)" class="box-contsf" (click)="hide()"> Choose goal type to add new <ion-icon name="chevron-down-outline"></ion-icon></a>
												<div class="cont-sect-ne" *ngIf="hideMe">
													<div class="wis-c">
														I want to Reach <ion-input formControlName="subscriber" class="m-0-20"></ion-input> Subscribers
													</div>
													<div *ngIf="isSubmit && f.subscriber.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="f.subscriber.errors.required">
														  <p class="ife">*Subscribers is required!</p>
														</ion-text>
													
														<ion-text validationText *ngIf="f.subscriber.errors.pattern">
														  <p class="ife">*Subscribers Should Contain Only Numbers!</p>
														</ion-text>
													</div>
													<div class="wis-c">
														on 
														<ion-select interface="action-sheet" formControlName="accountType" placeholder="Choose Account" class="ml-20">
															<ion-select-option *ngFor="let acc of accType" value="{{acc}}">{{acc}}</ion-select-option>
														</ion-select>
													</div>
													<div *ngIf="isSubmit && f.accountType.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="f.accountType.errors.required">
														  <p class="ife">*Please Select Account Type on which you have goal!</p>
														</ion-text>
													</div>
													<div class="wis-c">
														Within 
														<ion-input formControlName="with" class="w-50s"></ion-input>
														<ion-select interface="action-sheet" formControlName="within" placeholder="Select One" class="w-50s">
															<ion-select-option *ngFor="let t of time" value="{{t}}">{{t}}</ion-select-option>
														</ion-select>
													</div>
													<div *ngIf="isSubmit && f.with.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="f.with.errors.required">
														  <p class="ife">*Please Select One Count in which you want to achive the goal!</p>
														</ion-text>
													</div>
													<div *ngIf="isSubmit && f.within.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="f.within.errors.required">
														  <p class="ife">*Please Select One within which you want to achive this goal!</p>
														</ion-text>
													</div>
													<div class="btn-dics">
														<ion-button type="submit" class="save-btn">Add </ion-button>
													</div>
												</div>
											</div>
											</form>
											<ion-row>
												<ion-col size="12" size-md="12">
													<div class="con-tou">
														<div class="goa-ft">
															<h4 class="ttl ion-hide-md-down"> My Goals </h4>
															<div *ngFor="let yg of youtubeGoals" class="data-box-smd">
																<a  class="dots-ell"> <ion-icon name="ellipsis-vertical" (click)="show_delete(i)"></ion-icon> </a>
																<span class="img-box">
																	<img src="assets/images/user3.png">
																	<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
																</span>
																 I want to Reach <b> {{yg.subscribers}} subscribers </b> on {{yg.accountType}} within <b>  {{yg.with}} {{yg.within}}. </b> 
																<span class="icon-bt">
																	<!-- <i class="lin-r" style="width:40%;"></i> -->
																
																	<ion-progress-bar class="lin-r"  value="0" color="danger" ></ion-progress-bar>
																	<small class="round-cr" style="left:45%;"></small>
																</span>
															</div>
															<div *ngIf= "youtubeGoals === null || youtubeGoals === undefined">
																<ion-item>No Youtube Goals Found!</ion-item>
															</div>
															<!-- <div class="data-box-smd">
																<a href="javascript:void(0)" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
																<span class="img-box">
																	<img src="assets/images/user3.png">
																	<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
																</span>
																 I want to Reach <b> 1000 subscribers </b> on Pencilmation within <b>  6 months. </b> 
																<span class="icon-bt">
																	<i class="lin-r" style="width:40%;"></i>
																	<small class="round-cr" style="left:45%;"></small>
																</span>
															</div>
															<div class="data-box-smd">
																<a href="javascript:void(0)" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
																<span class="img-box">
																	<img src="assets/images/user3.png">
																	<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
																</span>
																 I want to Reach <b> 1000 subscribers </b> on Pencilmation within <b>  6 months. </b> 
																<span class="icon-bt">
																	<i class="lin-r" style="width:40%;"></i>
																	<small class="round-cr" style="left:45%;"></small>
																</span>
															</div>	 -->
														</div>
													</div>
												</ion-col>
											</ion-row>											
										</div>
									</ion-col>
									<ion-col size="12" size-md="12" size-lg="6">
										
										<div class="con-tou">
											<span class="nam col-twi"> <ion-icon name="logo-twitter"></ion-icon> Twitter Profile(s) Goals </span>
											<div class="btn-dt">
												<form [formGroup]="twitterForm" (ngSubmit)="addTwitterGoal(twitterForm.value)">
												<a href="javascript:void(0)" class="box-contsf" (click)="hide2()"> Choose goal type to add new <ion-icon name="chevron-down-outline"></ion-icon></a>
												<div class="cont-sect-ne" *ngIf="hideMe2">
													<div class="wis-c">
														I want to Reach <ion-input  formControlName="subscriber" class="m-0-20"></ion-input> Subscribers
													</div>
													<div *ngIf="isSubmit && fo.subscriber.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="fo.subscriber.errors.required">
														  <p class="ife">*Subscribers is required!</p>
														</ion-text>
													
														<ion-text validationText *ngIf="fo.subscriber.errors.pattern">
														  <p class="ife">*Subscribers Should Contain Only Numbers!</p>
														</ion-text>
													</div>
													<div class="wis-c">
														on 
														<ion-select interface="action-sheet" formControlName="accountType" placeholder="Choose Account" class="ml-20">
															<ion-select-option *ngFor="let acc of accType" value="{{acc}}">{{acc}}</ion-select-option>
														</ion-select>
													</div>
													<div *ngIf="isSubmit && fo.accountType.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="fo.accountType.errors.required">
														  <p >*Please Select Account Type on which you have goal!</p>
														</ion-text>
													</div>
													<div class="wis-c">
														Within 
														<ion-input formControlName="with" class="w-50s"></ion-input>		
														<ion-select interface="action-sheet" formControlName="within" placeholder="Select One" class="w-50s">
															<ion-select-option *ngFor="let t of time" value="{{t}}">{{t}}</ion-select-option>
														</ion-select>
													</div>
													<div *ngIf="isSubmit && fo.with.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="fo.with.errors.required">
														  <p class="ife">*Please Select One Count in which you want to achive the goal!</p>
														</ion-text>
													</div>
													<div *ngIf="isSubmit && fo.within.errors" class="invalid-feedback">
														<ion-text validationText *ngIf="fo.within.errors.required">
														  <p class="ife">*Please Select One within which you want to achive this goal!</p>
														</ion-text>
													</div>
													<div class="btn-dics">
														<ion-button type="submit" class="save-btn">Add </ion-button>
													</div>
												</div>
											</form>
											</div>
											<ion-row>
												<ion-col size="12" size-md="12">
													<div class="con-tou">
														<div *ngFor="let tg of twitterGoals; let i = index" class="goa-ft">
															<h4 class="ttl opacity-0 ion-hide-md-down"> My Goals </h4>
															<div class="data-box-smd green-bxm">
																<a  class="dots-ell"> <ion-icon name="ellipsis-vertical" (click)="show_tdelete(i)"></ion-icon> </a>
																<span class="img-box">
																	<img src="assets/images/user3.png">
																	<small class="icon-is"> <ion-icon name="logo-twitter"></ion-icon> </small>
																</span>
																I want to get to <b>  {{tg.subscribers}} followers </b> on<b>  @{{tg.accountType}} </b>  within <b> {{tg.with}} {{tg.within}}. </b>
																<span class="icon-bt">
																	<!-- <i class="lin-r" style="width:20%;"></i> -->
																	<ion-progress-bar class="lin-r"  value="0" color="primary" ></ion-progress-bar>
																	<small class="round-cr" style="left:60%;"></small>
																</span>
															</div>
														</div>
														
													</div>
												</ion-col>
											</ion-row>											
										</div>
									</ion-col>
								</ion-row>
								<div class="cenr-btn">
									<a (click)="save_click()" href="javascript:void(0)" class="brts"> Save </a>
								</div>
							</div>
						</div>
					</div>
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
