<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="box-cnt-bgs">
		<div class="cntr-man-bx">
			<div class="top-sh">
				<h4> Edit A Playlist </h4>
				<div class="right-dyy">
					<a href="javascript:void(0);" class="dlt-ic" (click)="dismiss()"> <ion-icon name="close-outline"></ion-icon> </a>
				</div>
			</div>
			<ion-segment scrollable="true" mode="md" [(ngModel)]="type">
			    <ion-segment-button value="Settings">
			        <ion-label>Settings</ion-label>
			    </ion-segment-button>
			    <ion-segment-button value="Videos">
			        <ion-label>Videos</ion-label>
			    </ion-segment-button>
			</ion-segment>
			<div [ngSwitch]="type">
				<ion-list *ngSwitchCase="'Settings'">			
					<div class="cont-sect">
						<div class="label-coy">
							<label> Title </label>
							<ion-input type="text" value="Gaming Monday"></ion-input>
						</div>
						<div class="label-coy">
							<label> Description </label>
							<ion-textarea rows="5" value="Lorem ipsum dolor sit amet, ius an illud vivendum. Pri modus ignota reprimique an, usu no dicat possit adolescens, te error numquam cum. Mel ea detracto consequat dissentias. Eam graeco maluisset no."></ion-textarea>
						</div>	
						<div class="label-coy">
							<label> Default Visibility </label>
							<ion-radio-group class="bts-s">
							    <ion-item lines="none">
								    <ion-label>Public</ion-label>
								    <ion-radio slot="start" color="success" value="Public"></ion-radio>
							    </ion-item>
							    
							    <ion-item lines="none">
								    <ion-label>Private</ion-label>
								    <ion-radio slot="start" color="success" value="Private"></ion-radio>
							    </ion-item>
							</ion-radio-group>
						</div>			
					</div>
				</ion-list>	
				<ion-list *ngSwitchCase="'Videos'">
					<div setting-sec>
						<div setting-search>
							<ion-searchbar placeholder="Search a video"></ion-searchbar>
						</div>					
						<div carousal scrollbar>
							<ion-row>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon1.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon2.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon3.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon4.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon2.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon3.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon4.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon1.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon2.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon3.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon4.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
									    <ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon2.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon3.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
								<ion-col size="6" size-md="3">
									<div slidesec>
										<ion-checkbox></ion-checkbox>
										<div slideCol>
											<img src="../assets/images/cartoon4.jpg" alt="">
											<p>Lorem ipsum is simply text</p>
										</div>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>				
				</ion-list>						
			</div>			
			<div class="btn-dics">
				<a href="javascript:void(0);" class="canc-btn" (click)="dismiss()">Cancel  </a>
				<a href="javascript:void(0);" class="save-btn" (click)="dismiss()">Save </a>
			</div>
		</div>
	</div>
</ion-content>
