<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="box-cnt-bgs">
		<div class="cntr-man-bx">
			<div class="top-sh">
				<h4> Featured Channels </h4>
				<div class="right-dyy">
					<a (click)="dismiss()" href="javascript:void(0)" class="dlt-ic"> <ion-icon name="close-outline"></ion-icon> </a>
				</div>
			</div>
			<div class="cont-sect">
				<div class="label-coy">
					<label> Channel Tags </label>
					<ion-input type="text" value="Follow these guys!"></ion-input>
				</div>	
				<div class="label-coy">
					<div class="box-st-ii">
						<img src="assets/images/user5.png">
						<h5> Carb Loaded Camel </h5>
						<div class="scnd-hrt">
							<a href="javascript:void(0)" class="dlt-nr"><ion-icon name="trash-outline"></ion-icon></a>
						</div>						
					</div>
				</div>	
				<div class="label-coy">
					<label> Search a Channel to add more </label>
					<ion-searchbar placeholder="Carb"></ion-searchbar>
				</div>
				<div class="padd-sts">
					<div class="mobimg-sec ion-hide-md-up">
						<ion-row>
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img6.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>	
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img7.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>	
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img8.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>	
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img9.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>	
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img10.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>	
							<ion-col size="6" size-md="3">
								<div mob-img-mn>
									<img src="assets/images/img11.png">
									<h4> Carb Loaded... </h4>
									<ion-icon name="add-circle-outline"></ion-icon>								
								</div>				
							</ion-col>				
						</ion-row>				
					</div>				
					<ul class="cont-bstd ion-hide-md-down">
						<li>
							<img src="assets/images/img6.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img7.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img8.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img9.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img10.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img11.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
						<li>
							<img src="assets/images/img6.png">
							<h4> Carb Loaded... </h4>
							<ion-icon name="add-circle-outline"></ion-icon>
						</li>
					</ul>
				</div>				
			</div>
			<div class="btn-dics">
				<a (click)="dismiss()" href="javascript:void(0)" class="canc-btn">Cancel  </a>
				<a (click)="dismiss()" href="javascript:void(0)" class="save-btn">Save </a>
			</div>
		</div>
	</div>
</ion-content>
