<ion-content>
	<div flex-header>
	  	<a href="javascript:void(0)"><img src="../assets/images/logo.png" alt=""></a>
	  	<p (click)="presentModal()">Return to Content Calendar <ion-icon name="close-outline"></ion-icon></p>
	</div>
	<div mainContent>
		<ion-row>
			<ion-col size="12" size-md="12">
				<!--- mobile ads start --->
				<div mob-ads-sec class="ion-hide-md-up">
					<img src="assets/images/mob-ads.jpg" alt="" />
				</div>
				<!--- mobile ads end --->				
				<div class="cont-fls">
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad3.jpg">
						</a>
					</div>
					<div class="fvs-ft">
						<div centerArea>
							<div insideCenter>
								<h2 hdng>Create YouTube Video</h2>
								<div threeCols>
									<div smallCol>
									<!--- mobile menu link start --->
										<ion-item menuheader lines="none"  class="ion-hide-md-up">
											<ion-label>
											  <span>5</span>Upload Video
											</ion-label>
											<a slot="end" href="javascript:void(0)" (click)="hide()" menu-btn><ion-icon name="menu"></ion-icon></a>
										</ion-item>										
										<div menu-mob-link *ngIf="hideMe"  class="ion-hide-md-up">
										    <ion-buttons menuclose-btn  (click)="hide()"><ion-icon name="close"></ion-icon></ion-buttons>
											<ul>
											<li><a routerLink="/createytvideo-schedule" class="activedone" href="javascript:void(0)"><span>1</span>Schedule</a></li>
											<li><a routerLink="/idea-generator" class="activedone" href="javascript:void(0)"><span>2</span>Idea Generator</a></li>
											<li><a routerLink="/createytvideo-suggestions" class="activedone" href="javascript:void(0)"><span>3</span>Suggestions</a></li>
											<li><a routerLink="/createytvideo-scriptscreation" class="activedone" href="javascript:void(0)"><span>4</span>Script Creation</a></li>
											<li><a routerLink="/createytvideo-uploadvideo" class="active" href="javascript:void(0)"><span>5</span>Upload Video</a></li>
											<li><a routerLink="/createytvideo-metadata" href="javascript:void(0)"><span>6</span>Meta-Data</a></li>
											<li><a routerLink="/createytvideo-thumbnail" href="javascript:void(0)"><span>7</span>Thumbnail</a></li>
											<li><a routerLink="/createytvideo-captions" href="javascript:void(0)"><span>8</span>Captioning</a></li>
											<li><a routerLink="/createytvideo-addtoplaylist" href="javascript:void(0)"><span>9</span>Add to Playlist</a></li>
											<li><a routerLink="/createytvideo-confirm" href="javascript:void(0)"><span>10</span>Confirm</a></li>
											</ul>
										</div>
										<!--- mobile menu link end --->
										<!--- mobile quotes start --->
											<div mobilequotes  class="ion-hide-md-up">
												<img imgcart src="assets/images/account.png" alt="">
												<div quoteBox>
													<div quoteBoxs>
														<a href="javascript:void(0)" (click)="hide1()"><b>View Instructions</b> <ion-icon name="chevron-down"></ion-icon></a>
														<p *ngIf="hideMe1">Lorem ipsum dolor sit amet, an eam dico rum. Choro volutpat eam et. Ex sea vidit solum definiebas. Usu ei tale graeci interesset,</p>
													</div>													
												</div>
											</div>									 																		
										<!--- mobile quotes end --->
										<ul class="ion-hide-md-down">
											<li><a routerLink="/createytvideo-schedule" class="activedone" href="javascript:void(0)"><span>1</span>Schedule</a></li>
											<li><a routerLink="/idea-generator" class="activedone" href="javascript:void(0)"><span>2</span>Idea Generator</a></li>
											<li><a routerLink="/createytvideo-suggestions" class="activedone" href="javascript:void(0)"><span>3</span>Suggestions</a></li>
											<li><a routerLink="/createytvideo-scriptscreation" class="activedone" href="javascript:void(0)"><span>4</span>Script Creation</a></li>
											<li><a routerLink="/createytvideo-uploadvideo" class="active" href="javascript:void(0)"><span>5</span>Upload Video</a></li>
											<li><a routerLink="/createytvideo-metadata" href="javascript:void(0)"><span>6</span>Meta-Data</a></li>
											<li><a routerLink="/createytvideo-thumbnail" href="javascript:void(0)"><span>7</span>Thumbnail</a></li>
											<li><a routerLink="/createytvideo-captions" href="javascript:void(0)"><span>8</span>Captioning</a></li>
											<li><a routerLink="/createytvideo-addtoplaylist" href="javascript:void(0)"><span>9</span>Add to Playlist</a></li>
											<li><a routerLink="/createytvideo-confirm" href="javascript:void(0)"><span>10</span>Confirm</a></li>
										</ul>
									</div>
									<div largeCol>
										<div routerLink="/createytvideo-uploaded" dragFiles>
											<ion-icon name="cloud-upload"></ion-icon>
											<h3>Uploading Your Video</h3>
											<p>File size: 103MB</p>
											<div class="progress">
												<div class="progress-done">
												</div>
											</div>											
											<ion-button drag-cancel-btn fill="outline">Cancel</ion-button>
										</div>
										<div botmbtns>
											<ion-button btn-outline fill="outline">Save as draft</ion-button>
											<ion-button routerLink="/createytvideo-uploaded" fill="solid">Next</ion-button>
										</div>
									</div>
									<div smallCol class="ion-hide-md-down">
										<div centerRit>
											<img src="../assets/images/icon.png" alt="">
											<div quotes>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="add-vf">
						<a href="javascript:void(0)">
							<img src="assets/images/ad4.jpg">
						</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
	<div botmbg></div>
</ion-content>
