<!--ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="dataa-main-all">
		<ion-row>
			<ion-col size="12" size-md="3" size-lg="2">
				<div class="left-part-main">
					<img src="assets/images/logo.png" class="logo-dash small-none">
					<div class="small-headr big-none">
						<img src="assets/images/logo.png" class="logo-dash">
						<a href="javascript:void(0);" class="menu-togl" (click)="hide()"> <ion-icon name="menu-outline"></ion-icon> </a>
					</div>
					<ul class="menu-list-left big-none position-str" *ngIf="hideMe">
						<li>
							<a href="javascript:void(0);" routerLink="/dashboard">
								<span class="icon-m"> <ion-icon name="home-outline"></ion-icon></span>
								Home
							</a>
						</li>
						<li>
							<a href="javascript:void(0);"  routerLink="/contentcalendar-month">
								<span class="icon-m"> <ion-icon name="calendar-clear-outline"></ion-icon> </span>
								Content Calendar
							</a>
						</li>
						<li class="active">
							<a href="javascript:void(0);" routerLink="/brand-builder">
								<span class="icon-m"> <ion-icon name="star-outline"></ion-icon> </span>
								Brand Builder
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/community-center">
								<span class="icon-m"> <ion-icon name="chatbox-ellipses-outline"></ion-icon> </span>
								Community Center
							</a>
						</li>
						<li class="user-ledg" routerLink="/my-account">
							<img src="assets/images/user.jpg" class="usr-im">
							<h4> John Doe </h4>
							<h6> My Account </h6>
						</li>
					</ul>
					<ul class="menu-list-left small-none">
						<li>
							<a href="javascript:void(0);" routerLink="/dashboard">
								<span class="icon-m"> <ion-icon name="home-outline"></ion-icon></span>
								Home
							</a>
						</li>
						<li>
							<a href="javascript:void(0);"  routerLink="/contentcalendar-month">
								<span class="icon-m"> <ion-icon name="calendar-clear-outline"></ion-icon> </span>
								Content Calendar
							</a>
						</li>
						<li class="active">
							<a href="javascript:void(0);" routerLink="/brand-builder">
								<span class="icon-m"> <ion-icon name="star-outline"></ion-icon> </span>
								Brand Builder
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/community-center">
								<span class="icon-m"> <ion-icon name="chatbox-ellipses-outline"></ion-icon> </span>
								Community Center
							</a>
						</li>
						<li class="user-ledg" routerLink="/my-account">
							<img src="assets/images/user.jpg" class="usr-im">
							<h4> John Doe </h4>
							<h6> My Account </h6>
						</li>
					</ul>
					<div class="add-box small-none">
						<img src="assets/images/ad1.jpg">
					</div>
				</div>
			</ion-col>
			<ion-col size="12" size-md="9" size-lg="10">
					<div class="top-ad">
						<img src="assets/images/ad2.jpg">
					</div>
					<div class="main-cont bold-vir big-none">
						<div class="cont-ttl main-cost">
							<h3><img src="assets/images/user3.png"> Pencilmation </h3>
							<a href="javascript:void(0);" class="cogsf" (click)="hide2()"> <ion-icon name="menu-outline"></ion-icon></a>
						</div>
						<div *ngIf="hideMe2">
							<div class="cont-ttl">
								<h3> Brands & Profiles </h3>
								<a href="javascript:void(0);" class="cogsf" routerLink="/brandbuilder-settings"> <ion-icon name="settings-sharp"></ion-icon> </a>
							</div>
							<ul class="menu-maf">
								<li class="active">
									<a href="javascript:void(0);">
										<span class="img-boxf">
											<img src="assets/images/user3.png">
										</span>
										Pencilmation
									</a>
								</li>
								<li class="sub-men">
									<a href="javascript:void(0);" routerLink="brandbuilder-yt-channel">
										<span class="img-boxf">
											<img src="assets/images/user3.png">
											<small class="icon-y"> <ion-icon name="logo-youtube"></ion-icon>  </small>
										</span>
										Pencilmation
									</a>
								</li>
								<li  class="sub-men">
									<a href="javascript:void(0);" routerLink="/brandbuilder-twitter">
										<span class="img-boxf">
											<img src="assets/images/user3.png">
											<small class="icon-twit"> <ion-icon name="logo-twitter"></ion-icon>  </small>
										</span>
										@Pencilmation
									</a>
								</li>
							</ul>
							<hr class="divi" />
							<ul class="menu-maf">
								<li >
									<a href="javascript:void(0);">
										<span class="img-boxf">
											<img src="assets/images/image.svg">
										</span>
										Brand 2
									</a>
								</li>
								<li class="sub-men">
									<a href="javascript:void(0);">
										<span class="img-boxf">
											<img src="assets/images/user.jpg">
											<small class="icon-y"> <ion-icon name="logo-youtube"></ion-icon>  </small>
										</span>
										Cocomelon
									</a>
								</li>
							</ul>
							<hr class="divi" />
							<ul class="menu-maf paddinb-vuy">
								<li >
									<a href="javascript:void(0);">
										Unbranded
									</a>
								</li>
								<li  class="sub-men">
									<a href="javascript:void(0);">
										<span class="img-boxf">
											<img src="assets/images/user.jpg">
											<small class="icon-twit"> <ion-icon name="logo-twitter"></ion-icon>  </small>
										</span>
										Cocomelon
									</a>
								</li>
							</ul>
							
							<a href="javascript:void(0);" class="bottom-add" routerLink="/brandbuilder-settings"><ion-icon name="add-circle-outline"></ion-icon> Add New Brand/Profile </a>
						</div>
					</div>
					<div class="main-dic-s">
						<ion-row>
							<ion-col size="12" size-md="4" size-lg="3" class="p-0">
								<div class="main-cont small-none">
									<div class="cont-ttl">
										<h3> Brands & Profiles </h3>
										<a href="javascript:void(0);" class="cogsf" routerLink="/brandbuilder-settings"> <ion-icon name="settings-sharp"></ion-icon> </a>
									</div>
									<ul class="menu-maf">
										<li class="active">
											<a href="javascript:void(0);">
												<span class="img-boxf">
													<img src="assets/images/user3.png">
												</span>
												Pencilmation
											</a>
										</li>
										<li class="sub-men">
											<a href="javascript:void(0);" routerLink="brandbuilder-yt-channel">
												<span class="img-boxf">
													<img src="assets/images/user3.png">
													<small class="icon-y"> <ion-icon name="logo-youtube"></ion-icon>  </small>
												</span>
												Pencilmation
											</a>
										</li>
										<li  class="sub-men">
											<a href="javascript:void(0);" routerLink="/brandbuilder-twitter">
												<span class="img-boxf">
													<img src="assets/images/user3.png">
													<small class="icon-twit"> <ion-icon name="logo-twitter"></ion-icon>  </small>
												</span>
												@Pencilmation
											</a>
										</li>
									</ul>
									<hr class="divi" />
									<ul class="menu-maf">
										<li >
											<a href="javascript:void(0);">
												<span class="img-boxf">
													<img src="assets/images/image.svg">
												</span>
												Brand 2
											</a>
										</li>
										<li class="sub-men">
											<a href="javascript:void(0);">
												<span class="img-boxf">
													<img src="assets/images/user.jpg">
													<small class="icon-y"> <ion-icon name="logo-youtube"></ion-icon>  </small>
												</span>
												Cocomelon
											</a>
										</li>
									</ul>
									<hr class="divi" />
									<ul class="menu-maf">
										<li >
											<a href="javascript:void(0);">
												Unbranded
											</a>
										</li>
										<li  class="sub-men">
											<a href="javascript:void(0);">
												<span class="img-boxf">
													<img src="assets/images/user.jpg">
													<small class="icon-twit"> <ion-icon name="logo-twitter"></ion-icon>  </small>
												</span>
												Cocomelon
											</a>
										</li>
									</ul>
									
									<a href="javascript:void(0);" class="bottom-add" routerLink="/brandbuilder-settings"><ion-icon name="add-circle-outline"></ion-icon> Add New Brand/Profile </a>
								</div>
							</ion-col>
							<ion-col size="12" size-md="8" size-lg="9">
								<div class="top-main-r">
									<span class="img-isf"> <ion-icon name="image"></ion-icon> </span>
									<a href="javascript:void(0)" class="edit-pencl" (click)="presentModal()"> <ion-icon name="pencil-sharp"></ion-icon> </a>
									<div class="cont-sky">
										<a href="javascript:void(0);" class="plu-sr"> <ion-icon name="add-circle-outline"></ion-icon> Create Cover </a>
										<div lines="none" class="form-slst">
										  <ion-select interface="popover" placeholder="Apply to">
											<ion-select-option value="nes">Apply to</ion-select-option>
											<ion-select-option value="n64">Apply One</ion-select-option>
											<ion-select-option value="ps">Apply Two</ion-select-option>
											<ion-select-option value="genesis">Apply Three</ion-select-option>
										  </ion-select>
										</div>
									</div>
								</div>
								<div class="bottom-co-ss">
									<div class="img-box-f">
										<img src="assets/images/user3.png">
										<a href="javascript:void(0)" class="chang-ei" (click)="presentModal2()"> <ion-icon name="pencil-sharp"></ion-icon> </a>
									</div>
									<div class="sect-ft">
										<label class="ld"> Brand Logo </label>
										<ion-select interface="popover" value="nes">
											<ion-select-option value="nes">Apply to <span> 2 </span> </ion-select-option>
											<ion-select-option value="n64">Apply One</ion-select-option>
											<ion-select-option value="ps">Apply Two</ion-select-option>
											<ion-select-option value="genesis">Apply Three</ion-select-option>
										</ion-select>
										<a href="javascript:void(0);" class="rigts-sr big-none pos-s"> <ion-icon name="add-circle-outline"></ion-icon> Create Logo </a>
									</div>
									<a href="javascript:void(0);" class="rigts-sr small-none"> <ion-icon name="add-circle-outline"></ion-icon> Create Logo </a>
								</div>
								<div class="inpt-gif">
									<ion-row>
										<ion-col size="12" size-md="8">
											<div class="label-coy">
												<label> Brand Name </label>
												<ion-input type="text" value="Brand 1"></ion-input>
											</div>
										</ion-col>
										<ion-col size="12" size-md="4">
											<ion-select interface="popover" value="nes">
												<ion-select-option value="nes">Applied to <span> 2 </span> </ion-select-option>
												<ion-select-option value="n64">Applied One</ion-select-option>
												<ion-select-option value="ps">Applied Two</ion-select-option>
												<ion-select-option value="genesis">Applied Three</ion-select-option>
											</ion-select>
										</ion-col>
									</ion-row>
								</div>
								<p class="byd"> How it looks on <a href="javascript:void(0);">YouTube</a> and <a href="javascript:void(0);">Twitter.</a> </p>
								<div class="btn-savt">
									<a href="javascript:void(0);" class="btn-sav"> Save </a>
								</div>
							</ion-col>
						</ion-row>
					</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
