<!--ion-header>
  <ion-toolbar>
    <ion-title>brandbuilder-pp-edit</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="box-cnt-bgs">
		<div class="cntr-man-bx">
			<div class="top-sh">
				<h4> Channel Banner </h4>
				<div class="right-dyy">
					<a href="javascrip:void(0);" class="ntm"><ion-icon name="pencil-sharp"></ion-icon> Edit in Editor </a>
					<a href="javascrip:void(0);" class="ntm"><ion-icon name="cloud-upload-outline"></ion-icon> Change Picture </a>
					<a href="javascrip:void(0);" class="dlt-ic" (click)="dismiss()"> <ion-icon name="close-outline"></ion-icon> </a>
				</div>
			</div>
			<div class="bottm-img-s">
				<a href="javascript:void(0);">
					<img src="assets/images/screen4.png">
				</a>
				<a href="javascript:void(0);" class="paddin-st">
					<img src="assets/images/screen5.png">
				</a>
				<a href="javascript:void(0);">
					<img src="assets/images/screen6.png">
				</a>
			</div>
			<div class="btn-dics">
				<a href="javascript:void(0);" class="canc-btn" (click)="dismiss()">Cancel  </a>
				<a href="javascript:void(0);" class="save-btn" (click)="dismiss()">Save </a>
			</div>
		</div>
	</div>
</ion-content>
