<!--ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="dataa-main-all">
		<ion-row>
			<ion-col size="12" size-md="3" size-lg="2">
				<div class="left-part-main">
					<img src="assets/images/logo.png" class="logo-dash small-none">
					<div class="small-headr big-none">
						<img src="assets/images/logo.png" class="logo-dash">
						<a href="javascript:void(0);" class="menu-togl" (click)="hide()"> <ion-icon name="menu-outline"></ion-icon> </a>
					</div>
					<ul class="menu-list-left big-none position-str" *ngIf="hideMe">
						<li class="active">
							<a href="javascript:void(0);" routerLink="/dashboard">
								<span class="icon-m"> <ion-icon name="home-outline"></ion-icon></span>
								Home
							</a>
						</li>
						<li>
							<a href="javascript:void(0);"  routerLink="/contentcalendar-month">
								<span class="icon-m"> <ion-icon name="calendar-clear-outline"></ion-icon> </span>
								Content Calendar
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/brand-builder">
								<span class="icon-m"> <ion-icon name="star-outline"></ion-icon> </span>
								Brand Builder
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/community-center">
								<span class="icon-m"> <ion-icon name="chatbox-ellipses-outline"></ion-icon> </span>
								Community Center
							</a>
						</li>
						<li>
							<a  (click)="logout()">
								<span class="icon-m"> <ion-icon name="power" ></ion-icon> </span>
							Logout
							</a>
						</li>
						<li class="user-ledg" routerLink="/my-account">
							<img [attr.src]="imgURL ? imgURL : 'assets/images/user-dummy.png'" class="usr-im">
							<h4> {{userdata.displayName}} </h4>
							<h6> My Account </h6>
						</li>
					</ul>
					<ul class="menu-list-left small-none">
						<li class="active">
							<a href="javascript:void(0);" routerLink="/dashboard">
								<span class="icon-m"> <ion-icon name="home-outline"></ion-icon></span>
								Home
							</a>
						</li>
						<li>
							<a href="javascript:void(0);"  routerLink="/contentcalendar-month">
								<span class="icon-m"> <ion-icon name="calendar-clear-outline"></ion-icon> </span>
								Content Calendar
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/brand-builder">
								<span class="icon-m"> <ion-icon name="star-outline"></ion-icon> </span>
								Brand Builder
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/community-center">
								<span class="icon-m"> <ion-icon name="chatbox-ellipses-outline"></ion-icon> </span>
								Community Center
							</a>
						</li>

						<li>
							<a (click)="logout()">
								<span class="icon-m"> <ion-icon name="power"></ion-icon> </span>
							Logout
							</a>
						</li>

						<li class="user-ledg" routerLink="/my-account">
							<img [attr.src]="imgURL ? imgURL : 'assets/images/user-dummy.png'" class="usr-im">
							<h4> {{userdata.displayName}}</h4>
							<h6> My Account </h6>
						</li>
					</ul>
					<div class="add-box small-none">
						<img src="assets/images/ad1.jpg">
					</div>
				</div>
			</ion-col>
			<ion-col size="12" size-md="9" size-lg="10">
					<div class="top-ad">
						<img src="assets/images/ad2.jpg">
					</div>
					
					<ion-row>
						<ion-col size="12" size-md="7" size-lg="8">
							<div class="godd-ev">
								<img src="assets/images/account.png">
								<div class="cons">
									<h4> Good Evening {{userdata.displayName}}! </h4>
									<p> I have 5 recommended tasks for you today. </p>                           
								</div>
							</div>
							<div class="cont-step small-none">
								<ul class="desc-bx">
									<li class="main-ttl"> Today's Recommended Tasks </li>
									<li> Respond to 10 comments on your recent <b> Pencilmation YouTube </b> videos.</li>
									<li> Respond to 10 comments on your recent <b> Pencilmation YouTube </b> videos.</li>
									<li> Optimize your <b> Pencilmation YouTube </b> Channel Page. </li>
									<li>Schedule your next 4 Tweets on  <b> @Pencilmation.</b>   </li>
									<li>Respond to 10 comments on your recent  <b> Pencilmation YouTube </b>  videos.  </li>
								</ul>
								<div class="text-bthf">
									<a href="javascript:void(0);" class="btn-sf" routerLink="/reply-comments">Start Daily Tasks </a>
									<p> I'm ready whenever you are! </p>
								</div>
							</div>
						</ion-col>
						<ion-col size="12" size-md="5" size-lg="4" class="small-none">
							<div class="box-rigt-s">
								<div class="top-gs">
									<h4> My Goals </h4>
									<a href="javascript:void(0);" routerLink="/add-goals"> <ion-icon name="add-circle-outline"></ion-icon> Add New Goal </a>
								</div>
								<div *ngIf= "youtubeGoals === null && twitterGoals === null">
									<ion-item>No Goals Found!</ion-item>
								</div>
								<div *ngFor="let yg of youtubeGoals;let i = index" class="data-box-smd">
									<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical" (click)="show_delete(i)"></ion-icon> </a>
									<span class="img-box">
										<img [attr.src]="imgURL ? imgURL : 'assets/images/user-dummy.png'">
										<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
									</span>
									 I want to Reach <b> {{yg.subscribers}} subscribers </b> on {{yg.accountType}} within <b>  {{yg.with}} {{yg.within}}. </b> 
									<span class="icon-bt">
										<!-- <i class="lin-r" style="width:40%;"></i> -->
										<ion-progress-bar class="lin-r"  value="0" color="danger" ></ion-progress-bar>
										<small class="round-cr" style="left:45%;"></small>
									</span>
								</div>
								<!-- <div class="data-box-smd">
									<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
									<span class="img-box">
										<img src="assets/images/user.jpg">
										<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
									</span>
									 I want to become a <b> YouTube partner </b> on <b> Cocomelon </b>  within <b>  6 months. </b> 
									<span class="icon-bt">
										<i class="lin-r" style="width:40%;"></i>
										<small class="round-cr" style="left:45%;"></small>
									</span>
								</div> -->
								<div *ngFor= " let tg of twitterGoals;let i = index" class="data-box-smd green-bxm">
									<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical" (click)="show_tdelete(i)"></ion-icon> </a>
									<span class="img-box">
										<img [attr.src]="imgURL ? imgURL : 'assets/images/user-dummy.png'">
										<small class="icon-is"> <ion-icon name="logo-twitter"></ion-icon> </small>
									</span>
									I want to get to <b>  {{tg.subscribers}} followers </b> on<b>  @{{tg.accountType}} </b>  within <b> {{tg.with}} {{tg.within}}. </b>
									<span class="icon-bt">
										<!-- <i class="lin-r" style="width:20%;"></i> -->
										<ion-progress-bar class="lin-r"  value="0" color="secondary" ></ion-progress-bar>
										<small class="round-cr" style="left:60%;"></small>
									</span>
								</div>
								
								<!-- <div class="data-box-smd">
									<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
									<span class="img-box">
										<img src="assets/images/user.jpg">
										<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
									</span>
									 I want to become a <b> YouTube partner </b> on <b> Cocomelon </b>  within <b>  6 months. </b> 
									<span class="icon-bt">
										<i class="lin-r" style="width:40%;"></i>
										<small class="round-cr" style="left:45%;"></small>
									</span>
								</div> -->
							</div>
							
						</ion-col>
					</ion-row>
					<ion-row class="big-none">
						<ion-col size="12" size-md="12">
							<div class="bg-chgst">
								<ion-segment 
								scrollable="true"
								mode="md"
								[(ngModel)]="type">

								  <ion-segment-button value="all">
									<ion-label>Daily Tasks</ion-label>
								  </ion-segment-button>

								  <ion-segment-button value="brands">
									<ion-label> My Goals </ion-label>
								  </ion-segment-button>

								</ion-segment>
								<div pad [ngSwitch]="type">
									<ion-list *ngSwitchCase="'all'">
										<div class="cont-step">
											<ul class="desc-bx">
												<li> Respond to 10 comments on your recent <b> Pencilmation YouTube </b> videos.</li>
												<li> Respond to 10 comments on your recent <b> Pencilmation YouTube </b> videos.</li>
												<li> Optimize your <b> Pencilmation YouTube </b> Channel Page. </li>
												<li>Schedule your next 4 Tweets on  <b> @Pencilmation.</b>   </li>
												<li>Respond to 10 comments on your recent  <b> Pencilmation YouTube </b>  videos.  </li>
											</ul>
											
										</div>
									</ion-list>
									<ion-list *ngSwitchCase="'brands'">
										<div class="box-rigt-s">
											<div class="top-gs">
												<a href="javascript:void(0);" routerLink="/add-goals"> <ion-icon name="add-circle-outline"></ion-icon> Add New Goal </a>
											</div>
											<div class="data-box-smd">
												<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
												<span class="img-box">
													<img src="assets/images/user.jpg">
													<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
												</span>
												 I want to Reach <b> 1000 subscribers </b> on Pencilmation within <b>  6 months. </b> 
												<span class="icon-bt">
													<i class="lin-r" style="width:40%;"></i>
													<small class="round-cr" style="left:45%;"></small>
												</span>
											</div>
											<div class="data-box-smd">
												<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
												<span class="img-box">
													<img src="assets/images/user.jpg">
													<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
												</span>
												 I want to become a <b> YouTube partner </b> on <b> Cocomelon </b>  within <b>  6 months. </b> 
												<span class="icon-bt">
													<i class="lin-r" style="width:40%;"></i>
													<small class="round-cr" style="left:45%;"></small>
												</span>
											</div>
											<div class="data-box-smd green-bxm">
												<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
												<span class="img-box">
													<img src="assets/images/user.jpg">
													<small class="icon-is"> <ion-icon name="logo-twitter"></ion-icon> </small>
												</span>
												I want to get to <b>  2000 followers </b> on<b>  @pencilmation </b>  within <b> 2 months. </b>
												<span class="icon-bt">
													<i class="lin-r" style="width:20%;"></i>
													<small class="round-cr" style="left:60%;"></small>
												</span>
											</div>
											<div class="data-box-smd">
												<a href="javascript:void(0);" class="dots-ell"> <ion-icon name="ellipsis-vertical"></ion-icon> </a>
												<span class="img-box">
													<img src="assets/images/user.jpg">
													<small class="icon-is"> <ion-icon name="logo-youtube"></ion-icon></small>
												</span>
												 I want to become a <b> YouTube partner </b> on <b> Cocomelon </b>  within <b>  6 months. </b> 
												<span class="icon-bt">
													<i class="lin-r" style="width:40%;"></i>
													<small class="round-cr" style="left:45%;"></small>
												</span>
											</div>
										</div>
									</ion-list>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<div class="top-ad big-none">
						<img src="assets/images/ad5.jpg">
					</div>
			</ion-col>
		</ion-row>
	</div>
	<div class="text-bthf big-none fixd-bt">
		<a href="javascript:void(0);" class="btn-sf" routerLink="/reply-comments">Start Daily Tasks </a>
		<p> I'm ready whenever you are! </p>
	</div>
</ion-content>
