/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

[btn-blue]{
	--background: #009be0;
	text-transform: none;
	letter-spacing: 0;
	--box-shadow:none;
	height:50px;
	font-size: 16px;
	--border-radius: 5px;
}
[btn-outline]{
	--border-width:1px;
	--border-color:#eee;
}
[none]{
	display: none !important;
}
.returnpopup-sec 
{
    justify-content: flex-end;
    align-items: flex-start;
    top: 50px;
    right: 70px;	
	ion-backdrop 
	{
		display: none;
	}
	.modal-wrapper 
	{
		max-width: 420px;
		background: transparent;
		width: 100%;
		--box-shadow: none;
	}	
}
.abuycaptions-sec 
{
    --height: 100%;
    --width: 100%;
	.modal-wrapper 
	{
		background: transparent;
		--background: transparent;
	}	
}
@media (max-width: 767px) {
	.returnpopup-sec 
	{
		right: 0px;
        .modal-wrapper.ion-overlay-wrapper
        {
			background: transparent !important;
			--background: transparent !important;					
		    ion-content
			{
				background: transparent !important;
				--background: transparent !important;			
			}
		}		
	}	
}	
