<!--ion-header>
  <ion-toolbar>
    <ion-title>brandbuilder-pp-edit</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="box-cnt-bgs">
		<div class="cntr-man-bx">
			<div class="top-sh">
				<h4> Edit A Goal </h4>
				<div class="right-dyy">
					<a href="javascript:void(0)" class="dlt-ic"> <ion-icon name="close-outline"></ion-icon> </a>
				</div>
			</div>
			<div class="cont-sect">
				<div class="wis-c">
					<ion-select interface="action-sheet" value="nes" class="w-100">
						<ion-select-option value="nes">I want to get more subscribers</ion-select-option>
						<ion-select-option value="n64">I do't want to get any subscriber</ion-select-option>
					</ion-select>
				</div>
				<div class="wis-c">
					I want to Reach <ion-input value="1000" class="m-0-20"></ion-input> Subscribers
				</div>
				<div class="wis-c">
					on 
					<ion-select interface="action-sheet" placeholder="Choose Account" class="ml-20">
						<ion-select-option value="nes">Account One</ion-select-option>
						<ion-select-option value="n64">Account Two</ion-select-option>
					</ion-select>
				</div>
				<div class="wis-c">
					Within 
					<ion-input value="1000" class="m-0-20"></ion-input>
					<ion-select interface="action-sheet" placeholder="Days" class="w-50s">
						<ion-select-option value="nes">2 Days</ion-select-option>
						<ion-select-option value="n64">4 Days</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div class="btn-dics">
				<a href="javascript:void(0)" class="canc-btn">Cancel  </a>
				<a href="javascript:void(0)" class="save-btn">Save </a>
			</div>
		</div>
	</div>
</ion-content>
