<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup-steps</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<div signupSteps>
		<ion-row>
			<ion-col size="12" size-md="4">
			    <!--- mobile topbar start --->
				<div mobtopbar class="ion-hide-md-up">
					<div mob-back-sec>
						<a back href="javascript:void(0)"><ion-icon name="arrow-back-outline"></ion-icon></a>
						<h4>Welcome, Tracy!</h4>
					</div>
					<div tracyPara>
						<p *ngIf="hideMe">To get started I just need your permission to talk to your accounts.
							<br><br>Click the buttons below to link me with all your one or more profiles on each platform.<br><br><b>The more the merrier!</b>
						</p>
					    <a (click)="hide()" click-btn href="javascript:void(0)"><b>View Instructions</b> <ion-icon name="chevron-down"></ion-icon></a>
						<div Gotit-sec *ngIf="hideMe">
							<ion-button Gotit-btn (click)="hide()">Got It! <ion-icon name="chevron-up-outline"></ion-icon></ion-button>
						</div>
					</div>
					<span emoji><img src="../assets/images/icon.png" alt=""></span>
				</div>
				<!--- mobile topbar end --->			
				<div lftbar class="ion-hide-md-down">
					<a back href="javascript:void(0)" routerLink="/signup"><ion-icon name="arrow-back-outline"></ion-icon></a>
					<h4>Welcome, Tracy!</h4>
					<div tracyPara>
						<p>To get started I just need your permission to talk to your accounts.
							<br><br>Click the buttons below to link me with all your one or more profiles on each platform.<br><br><b>The more the merrier!</b>
						</p>
					</div>
					<span emoji><img src="../assets/images/icon.png" alt=""></span>
				</div>
			</ion-col>
			<ion-col size="12" size-md="8">
				<div ritbar>
					<ul steps>
						<li><span active><ion-icon name="checkmark-outline"></ion-icon></span><p>Add Accounts</p></li>
						<li><span>2</span><p>Create Brands</p></li>
						<li><span>3</span><p>Set Goals</p></li>
					</ul>
					<div socials>
						<div colspan>
							<ion-icon youtube name="logo-youtube"></ion-icon>
							<a href="javascript:void(0)" routerLink="/add-account"><ion-icon name="add-circle-outline"></ion-icon> <p>Add Youtube Channel</p></a>
						</div>
						<div colspan>
							<ion-icon twitter name="logo-twitter"></ion-icon>
							<a href="javascript:void(0)" routerLink="/add-account"><ion-icon name="add-circle-outline"></ion-icon> <p>Add Twitter Profile</p></a>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
