ion-content {
	--background: #fbfbfb;
}
[signupSteps] {
	position: relative;
	ion-row {
		padding: 0;
		margin: 0;
		ion-col {
			padding: 0;
			margin: 0;
			[lftbar] {
				min-height: 100vh;
				height: 100%;
				background: url(../../assets/images/banner2.png) right center no-repeat;
				width: 100%;
				background-size: cover;
				padding: 50px 80px 50px 50px;
				[back] {
					width: 40px;
					height: 40px;
					background: #fff;
					border-radius: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #111;
				}
				h4 {
					margin: 60px 0 0;
					font-weight: 600;
					font-size: 24px;
					line-height: 40px;
					max-width: 240px;
					width: 100%;
				}
				[tracyPara] {
					background: #fff;
					border-radius: 20px;
					padding: 20px;
					position: relative;
					margin: 25px 0 0;
					color: #333;
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-top: 20px solid #fff;
						position: absolute;
						bottom: -10px;
						left: 20px;
					}
					p {
						a {
							text-decoration: underline;
							font-weight: 600;
						}
					}
				}
				[emoji] {
					margin: 25px 0 0;
					display: block;
				}
			}
		}
	}
	[ritbar] {
		padding: 50px;
		min-height: 100%;
		position: relative;
		[steps] {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			li {
				display: flex;
				align-items: center;
				span {
					width: 35px;
					height: 35px;
					border-radius: 100px;
					background: #bbbbbb;
					color: #fff;
					margin-right: 8px;
					display: flex;
					align-items: center;
					justify-content: center;
					&[active] {
						background: #c2facf;
						color: #111;
						& + p {
							color: #111;
						}
					}
					&[selectdone] {
						background: #343434;
						color: #fff;
						& + p {
							color: #343434;
						}
					}
				}
				p {
					color: #999;
					font-size: 14px;
					margin: 0;
				}
				&:after {
					content: "";
					display: block;
					height: 1px;
					width: 180px;
					margin: 0 20px;
					background: #eee;
				}
				&:last-child:after {
					display: none;
				}
			}
		}
	}
	[socials] {
		display: flex;
		align-items: flex-start;
		margin: 40px 0 0;
		justify-content: center;
		[colspan] {
			background: #fff;
			border-radius: 7px;
			display: flex;
			width: 50%;
			align-items: flex-start;
			flex-direction: column;
			padding: 10px 0px;
			margin: 0 5px;
			box-shadow: 0 5px 5px rgba(0, 0, 0, .03);
			[full] {
				display: flex;
				width: 100%;
				padding: 0 20px;
			}
			[addedacnt] {
				display: flex;
				align-items: center;
				width: 100%;
				margin-top: 15px;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 15px;
				padding-bottom: 5px;
				border-top: 1px solid #eee;
				[lftAdded] {
					display: flex;
					align-items: center;
					span {
						width: 30px;
						height: 30px;
						margin-right: 10px;
						border-radius: 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #010066;
						img {
							max-width: 20px;
							object-fit: contain;
						}
					}
					p {
						margin: 0;
					}
				}
				[ml-auto] {
					margin-left: auto;
					width: 35px;
					height: 35px;
					border-radius: 10px;
					border: 1px solid #eee;
					display: flex;
					align-items: center;
					justify-content: center;
					ion-icon {
						margin: 0;
					}
				}
			}
			ion-icon {
				color: #111;
				font-size: 27px;
				&[youtube] {
					color: #ed1f24;
				}
				&[twitter] {
					color: #55acee;
				}
			}
			a {
				font-size: #333;
				text-decoration: none;
				display: flex;
				margin-left: 50px;
				align-items: center;
				ion-icon {
					color: #333;
					margin-right: 10px;
					font-size: 16px;
				}
				p {
					margin: 0;
				}
			}
		}
	}
	.next-gt {
		position: absolute;
		right: 50px;
		bottom: 30px;
		background: #343434;
		color: #fff;
		padding: 12px 40px;
		border-radius: 10px;
		text-decoration: none;
	}
}
.box-spac {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.box-spac .boxs {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 32%;
	flex: 0 0 32%;
	max-width: 32%;
	margin: 5px;
}
.box-spac .boxs.w-full {
	flex: 0 0 100%;
	max-width: 100%;
	margin: 5px 0px;
	text-align: left;
}
.box-spac .boxs.w-full p {
	text-align: left !important;
	margin: 0px !important;
	margin-left: 17px !important;
	max-width: 100% !important;
}
.botm-full {
	height: 170px;
	width: 100%;
	overflow: auto;
}
ion-list {
	width: 100%;
	background: transparent;
	[smallhdng] {
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 10px;
	}
	[brandsArea] {
		&[mb30] {
			margin-bottom: 30px;
		}

		ion-row {
			margin-left: -5px;
			margin-right: -5px;
			ion-col {
				padding: 0 10px;
				[addbrand] {
					cursor: pointer;
					box-shadow: 0px 2px 5px rgba(0, 0, 0, .08);
					border-radius: 10px;
					margin: 0px 0px 20px;
					height: 250px;
					padding: 10px;
					display: flex;
					align-items: center;
					background: #fff;
					justify-content: center;
					flex-direction: column;
					ion-icon[addplus] {
						font-size: 30px;
					}
					p {
						color: #222;
						margin: 0;
					}
					&[brand2] {
						justify-content: flex-start;
						ul {
							list-style: none;
							padding: 0px;
							margin: 0;
							width: 100%;
							li {
								width: 100%;
								display: flex;
								margin-bottom: 15px;
								align-items: center;
								ion-input {
									border: 1px solid #f6f6f6;
									border-radius: 5px;
									height: 36px;
								}
								ion-button {
									margin-left: 10px;
									--padding-start: 10px;
									--padding-end: 10px;
								}
								[addedBrand] {
									display: flex;
									width: 100%;
									align-items: center;
									padding: 5px 15px;
									border-radius: 7px;
									box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
									span {
										position: relative;
										img {
											width: 35px;
											height: 35px;
											border-radius: 50px;
											object-fit: cover;
										}
										label {
											position: absolute;
											right: -7px;
											bottom: 7px;
											border-radius: 50px;
											background: #ffdedf;
											width: 15px;
											margin: 0;
											height: 15px;
											display: flex;
											align-items: center;
											justify-content: center;
											ion-icon {
												color: #ed1f24;
												font-size: 8px;
												margin: 0 0 0 2px;
											}
										}
									}
									p {
										color: #222;
										margin: 0 0 0 15px;
									}
									[trash] {
										margin-left: auto;
										font-size: 18px;
									}
								}
							}
						}
						[dragFiles] {
							position: relative;
							display: flex;
							width: 100%;
							margin: 0;
							border: 2px dashed #eee;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							min-height: 170px;
							cursor: pointer;
							border-radius: 10px;
							text-align: center;
							p {
								color: #999;
								text-align: center;
								font-size: 13px;
								max-width: 60%;
								margin: 15px auto 0;
							}
						}
					}
				}
			}
		}
	}
}
p.pos-centr {
	position: absolute;
}
[botmbtns] {
	margin: 25px 0 0;
	display: flex;
	clear: both;
	float: left;
	width: 100%;
	justify-content: flex-end;
	ion-button {
		text-transform: none;
		--box-shadow: none;
		--border-radius: 8px;
	}
}
.profile-brand {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 5px 15px;
	border-radius: 7px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
	background: #fff;
	span {
		position: relative;
		img {
			width: 35px;
			height: 35px;
			border-radius: 50px;
			object-fit: cover;
		}
		label {
			position: absolute;
			right: -7px;
			bottom: 7px;
			border-radius: 50px;
			background: #ffdedf;
			width: 15px;
			margin: 0;
			height: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			ion-icon {
				color: #ed1f24;
				font-size: 8px;
				margin: 0 0 0 2px;
			}
			&[twitter] {
				background: #def1ff;
				ion-icon {
					color: #55acee;
				}
			}
		}
	}
	p {
		color: #222;
		margin: 0 0 0 15px;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	ion-content {
		[signupSteps] {
			ion-row {
				ion-col {
					[lftbar] {
						height: 100%;
						min-height: 100vh;
					}
				}
			}
			[ritbar] {
				[socials] {
					[brandsArea] {
						[profile-brand] {
							margin-bottom: 10px;
						}
					}
				}
				[steps] {
					li {
						&:after {
							width: 59px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	ion-content {
		[signupSteps] {
			[mobtopbar] {
				min-height: auto;
				height: auto;
				background: url(../../assets/images/banner3.png) bottom center no-repeat;
				width: 100%;
				background-size: cover;
				padding: 20px 20px 30px 20px;
				[mob-back-sec] {
					display: flex;
					h4 {
						margin: 0px 0px 0px 10px;
						font-weight: 600;
						font-size: 17px;
						max-width: 100%;
						width: 100%;
						line-height: 28px;
					}
					[back] {
						width: 25px;
						height: 25px;
						background: #fff;
						border-radius: 100px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #111;
					}
				}
				[tracyPara] {
					background: #fff;
					border-radius: 20px;
					padding: 15px;
					position: relative;
					margin: 25px 0 0;
					color: #333;
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-top: 20px solid #fff;
						position: absolute;
						bottom: -10px;
						left: 20px;
					}
					p {
						& +  {
							[click-btn] {
								display: none;
							}
						}
					}
					[click-btn] {
						margin: 0;
						font-size: 14px;
						color: #333;
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: space-between;
						ion-icon {
							min-width: 16px;
						}
						b {
							font-weight: 600;
						}
					}
					[Gotit-sec] {
						width: 100%;
						text-align: right;
						[Gotit-btn] {
							height: 42px;
							--box-shadow: none;
							--border-radius: 10px;
							font-size: 14px;
							--background: #343434;
							ion-icon {
								margin-left: 15px;
							}
						}
					}
					[emoji] {
						margin: 25px 0 0;
						display: block;
					}
				}
			}
			[ritbar] {
				padding: 30px 10px;
				[socials] {
					display: block;
					margin: 40px 0 0;
					[brandsarea] {
						[profile-brand] {
							padding: 5px 8px;
							margin-bottom: 10px;
							span {
								width: 30px;
								height: 30px;
								min-width: 30px;
							}
							p {
								margin: 0 0 0 10px;
								font-size: 12px;
							}
						}
					}
					[brandsArea] {
						[addbrand] {
							&[addbtnmob] {
								flex-direction: inherit;
								padding: 14px 10px;
								height: auto;
								ion-icon {
									&[addplus] {
										font-size: 18px;
									}
								}
								p {
									font-size: 14px;
									margin-left: 5px;
								}
							}
						}
					}
				}
				[steps] {
					li {
						flex-basis: 0;
						flex-grow: 1;
						flex-wrap: wrap;
						position: relative;
						padding: 0px 15px;
						&:after {
							content: "";
							display: block;
							height: 1px;
							position: absolute;
							width: 22px;
							margin: 0px 0px;
							background: #eee;
							right: -7px;
						}
						&:first-child {
							padding-left: 0px;
						}
						&:last-child {
							padding-right: 0px;
							&:after {
								display: none;
							}
						}
						span {
							width: 16px;
							height: 16px;
							margin-right: 3px;
							font-size: 10px;
						}
						p {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}

/* in-flight clone */
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
	left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}
.signup-nextdisabled,
.signup-next {
	color: #fff;
}
.signup-nextdisabled {
	opacity: 0.4;
}
